In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce
from scipy.stats import beta, bernoulli
import matplotlib.pyplot as plt
x = np.linspace(0,1, 1000)
from sklearn.linear_model import LogisticRegression as LR

In [2]:
e = 10
N = 50*(2**e)

df = pd.DataFrame()
df['null'] = [1]*N
for i in range(1,e+1):
    df[f'Experiment_{i}']= [(n//(2**(i-1)))%2 for n in range(N)]
#     np.random.choice((0,1),N)
df.head(10)

,null,Experiment_1,Experiment_2,Experiment_3,Experiment_4,Experiment_5,Experiment_6,Experiment_7,Experiment_8,Experiment_9,Experiment_10
0,1,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,0
5,1,1,0,1,0,0,0,0,0,0,0
6,1,0,1,1,0,0,0,0,0,0,0
7,1,1,1,1,0,0,0,0,0,0,0
8,1,0,0,0,1,0,0,0,0,0,0
9,1,1,0,0,1,0,0,0,0,0,0

In [3]:
probabilities = np.linspace(.005, .05, df.shape[1])                          
probabilities

array([0.005 , 0.0095, 0.014 , 0.0185, 0.023 , 0.0275, 0.032 , 0.0365,
       0.041 , 0.0455, 0.05  ])

In [4]:
df['outcome'] = \
bernoulli(1-np.exp(np.log(1-df*probabilities).sum(axis=1))).rvs()
df

,null,Experiment_1,Experiment_2,Experiment_3,Experiment_4,Experiment_5,Experiment_6,Experiment_7,Experiment_8,Experiment_9,Experiment_10,outcome
0,1,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
51195,1,1,1,0,1,1,1,1,1,1,1,1
51196,1,0,0,1,1,1,1,1,1,1,1,0
51197,1,1,0,1,1,1,1,1,1,1,1,0
51198,1,0,1,1,1,1,1,1,1,1,1,1
51199,1,1,1,1,1,1,1,1,1,1,1,1

In [8]:
lr = LR(fit_intercept=False).fit(df.iloc[:,:-1], df.iloc[:,-1])
lr.coef_

array([[-2.9143419 ,  0.04799643,  0.13238115,  0.12013717,  0.16396867,
         0.19686553,  0.22268415,  0.27308305,  0.29637146,  0.33004582,
         0.38389601]])

In [9]:
np.exp(lr.coef_[0])

array([[0.05423971, 1.04916691, 1.14154334, 1.12765152, 1.17817741,
        1.2175803 , 1.24942588, 1.31400937, 1.34496967, 1.39103187,
        1.46799277]])

In [ ]:
# row = df.iloc[4,:]
# def find_p(row):
#     p_not = 1-(row * probabilities)
#     p_not = reduce(lambda a,b:a*b, p_not)
#     p = 1-p_not
#     return p

# p = df.apply(find_p, axis=1)
# p

In [ ]:
# plt.hist(p);

In [ ]:
# df['outcome'] = bernoulli(p).rvs()
# df.head()

In [ ]:
df.outcome.mean()

In [ ]:
# def calculate_beta(i):
#     fig, ax = plt.subplots()
#     Exp_ = df[df[f'Experiment_{i}']==1]['outcome']
#     Exp_ = beta(Exp_.sum(), len(Exp_)-Exp_.sum())
#     Exp_control = df[df[f'Experiment_{i}']==0]['outcome']
#     Exp_control = beta(Exp_control.sum(), len(Exp_control)-Exp_control.sum())
#     ax.plot(x, Exp_.pdf(x))
#     ax.plot(x, Exp_control.pdf(x))
#     ax.set_xlim([0,.3])
#     confidence = (Exp_.rvs(N)>Exp_control.rvs(N)).mean()
#     ax.set_title(f'Chance that experiment {i} is better than control:{confidence}');
#     return ax

In [ ]:
# [calculate_beta(i) for i in range(1,e+1)];

In [ ]:
# lr = LR(fit_intercept=False).fit(df.iloc[:,:-1], df.iloc[:,-1])
# lr.intercept_, lr.coef_

In [ ]:
# for i in (1,2,3,4):
#     lr= LR().fit(df[df[f'Experiment_{i}']==0].iloc[:,:-1],
#             df[df[f'Experiment_{i}']==0].iloc[:,-1])
    
#     predicted = lr.predict_proba(df[df[f'Experiment_{i}']==1].iloc[:,:-1])[:,1]
#     actual = df[df[f'Experiment_{i}']==1]['outcome']
    
#     print((actual.sum()-predicted.sum())/(len(df)/2))

In [ ]:
probabilities

In [ ]:
# for i in (1,2,3):
#     lr= LR().fit(df[df[f'Experiment_{i}']==1].iloc[:,:-1],
#             df[df[f'Experiment_{i}']==1].iloc[:,-1])
    
#     predicted = lr.predict_proba(df[df[f'Experiment_{i}']==0].iloc[:,:-1])[:,1]
#     actual = df[df[f'Experiment_{i}']==0]['outcome']
    
#     print((predicted.sum()-actual.sum())/(df[f'Experiment_{i}']))

In [ ]:
def causal_probability(with_factor, without_factor, interval):
#     interval =interval**(2)
    α = 1-interval
    α = α
    lo, hi = α, 1-α
    print(lo,hi, hi-lo)
    
    return 1-(1-with_factor.ppf([lo,hi]))/\
            (1-without_factor.ppf([hi,lo]))

# causal_probability(with_1, without_1, .9)

In [ ]:
# s = 1-(1-with_1.rvs(100000))/(1-without_1.rvs(100000))
# plt.hist(s, bins=1000)
# interval = .9
# print(50*(1-interval), 50*(1+interval))
# [plt.axvline(i, color='red') for i in causal_probability(with_1, without_1, interval)]
# [plt.axvline(i, color='green') for i in np.percentile(s, [50*(1-interval), 50*(1+interval)])];

In [ ]:

def attribution(df, i, interval):
    
    α = [.5-interval/2, .5, .5+interval/2]
    
    summary = df.groupby([f'Experiment_{i}','outcome'])['null'].sum().values
    wo_b, wo_a, w_b, w_a = summary
    w = beta(w_a, w_b)
    wo = beta(wo_a, wo_b)
    result = (1-(1-w.ppf(α))/(1-wo.ppf(α[::-1])))
    return result

credible_intervals = np.array([attribution(df, i, .9) for i in range(1,e+1)])
credible_intervals

# for i in range(1, e+1):
#     print(attribution(i, .9))

In [ ]:
probabilities

In [ ]:
for (i, (lo, mid, hi)),p in zip(enumerate(credible_intervals,1),
                            probabilities[1:]):
    m = '_'
    plt.scatter(i, mid, c='red', marker=m)
    plt.scatter(i, lo, c='blue', marker=m)
    plt.scatter(i, hi, c='blue', marker=m)
    plt.scatter(i, p, c='green')
    
plt.xlabel('Experiment')
plt.ylabel('Estimated Independent Probability')

In [ ]:
without_null = 1-np.cumprod(
1-df[[i for i in df.columns if 'Experiment' in i]]*probabilities[1:],
    axis=1).iloc[:,-1].mean()
without_null

In [ ]:
e = 10
N = 10*2**(e)

In [ ]:
probabilities = np.random.uniform(0, .05, e+1)
probabilities

In [ ]:
d2 = pd.DataFrame()
d2['null'] = np.ones(N)
d2[[f'Experiment_{i}' for i in range(1,e+1)]] = np.random.choice((0,1),p=(.7,.3), size=(N,e))
d2['outcome'] = \
bernoulli(1-np.exp(np.log(1-d2*probabilities).sum(axis=1))).rvs()
d2

In [ ]:
d2.describe()

In [ ]:
credible_intervals = np.array([attribution(d2, i, .9) for i in range(1,e+1)])
for (i, (lo, mid, hi)),p in zip(enumerate(credible_intervals,1),
                            probabilities[1:]):
    m = '_'
    plt.scatter(i, mid, c='red', marker=m)
    plt.scatter(i, lo, c='blue', marker=m)
    plt.scatter(i, hi, c='blue', marker=m)
    plt.vlines(i, lo, hi, alpha=.5)
    plt.scatter(i, p, c='green', marker='x')
    
plt.xlabel('Experiment')
plt.ylabel('Estimated Independent Probability');

In [ ]:
probabilities

In [ ]:
credible_intervals

In [ ]:
median_ps = credible_intervals[:,1]
median_ps

In [ ]:
d2

In [ ]:
predicted_without_null = (1-np.exp(
    np.log(1-d2[[i for i in d2.columns if 'Experiment' in i]
                              ]*median_ps).sum(axis=1))).sum()
predicted_without_null

actual_with_null = d2['outcome'].sum()
predicted_without_null, actual_with_null

In [ ]:
without_null = beta(predicted_without_null, len(d2)-predicted_without_null)

with_null = beta(actual_with_null, len(d2)-actual_with_null)
without_null.mean(), with_null.mean()

In [ ]:
α = [.05, .5, .95]
p_null_estimates = (1-(1-with_null.ppf(α))/(1-without_null.ppf(α[::-1])))
p_null_estimates

In [ ]:
probabilities

In [ ]:
m = '_'
lo, mid, hi = p_null_estimates
plt.scatter(0, mid, c='red', marker=m)
plt.scatter(0, lo, c='blue', marker=m)
plt.scatter(0, hi, c='blue', marker=m)
plt.vlines(0, lo, hi, alpha=.5)
plt.scatter(0, probabilities[0], c='green', marker='x')

credible_intervals = np.array([attribution(d2, i, .9) for i in range(1,e+1)])
for (i, (lo, mid, hi)),p in zip(enumerate(credible_intervals,1),
                            probabilities[1:]):
 
    plt.scatter(i, mid, c='red', marker=m)
    plt.scatter(i, lo, c='blue', marker=m)
    plt.scatter(i, hi, c='blue', marker=m)
    plt.vlines(i, lo, hi, alpha=.5)
    plt.scatter(i, p, c='green', marker='x')
    
plt.xlabel('Experiment')
plt.ylabel('Estimated Independent Probability');

In [ ]:
p_null_estimates[1]

In [ ]:
credible_intervals[:,1]

In [ ]:
estimated_ps = np.hstack([p_null_estimates[1], credible_intervals[:,1]])

In [ ]:
1-np.exp(np.log(1-d2.iloc[:,:-1]*estimated_ps).sum(axis=1))

In [ ]:
(1-np.exp(np.log(1-d2.iloc[:,:-1]*estimated_ps).sum(axis=1))).sum()

In [ ]:
d2['outcome'].sum()

In [ ]:
N = 10000
# cov = np.random.random((3,3))
cov = np.eye(3)
cov[0,-1] =cov[-1,0]= .4
cov[1,1] = cov[1,1] = .3

cov = cov*cov.T
z = np.random.multivariate_normal(mean = [.4,.6,.8], cov=cov, size = N)
z = 1*(z>.5)
z = pd.DataFrame(z)
z['null'] = 1

ps = [.2, .03, .07, .005]
z['outcome'] = bernoulli(1-np.exp(np.log(1-z*ps).sum(axis=1))).rvs()
z.rename({0:'Experiment_0',
         1:'Experiment_1',
         2:'Experiment_2'}, axis=1, inplace=True)

In [ ]:
z

In [ ]:
credible_intervals = np.array([attribution(z, i, .9) for i in range(3)])
print(credible_intervals,ps[:-1])
for (i, (lo, mid, hi)),p in zip(enumerate(credible_intervals),
                            ps[:-1]):
    m = '_'
    plt.scatter(i, mid, c='red', marker=m)
    plt.scatter(i, lo, c='blue', marker=m)
    plt.scatter(i, hi, c='blue', marker=m)
    plt.vlines(i, lo, hi, alpha=.5)
    plt.scatter(i, p, c='green', marker='x')
    
plt.xlabel('Experiment')
plt.ylabel('Estimated Independent Probability');

In [ ]:
credible_intervals[:,1]

In [ ]:
predicited_without_null = (1-np.exp(np.log(1-z.iloc[:,:3]*credible_intervals[:,1]).sum(axis=1))).sum()
predicited_without_null

In [ ]:
z['outcome'].sum()

In [ ]:
len(z)

In [ ]:
aa = beta(predicited_without_null, len(z)-predicited_without_null).ppf([.05,.5,.95])
aa

In [ ]:
bb = beta(z['outcome'].sum(), (1-z['outcome']).sum()).ppf([.95,.5,.05])
bb

In [ ]:
1-(1-aa)/(1-bb)

In [ ]:
ps